{
  "openapi": "3.0.0",
  "info": {
    "title": "Data Potluck API's",
    "description": "Our API allows users to effortlessly explore a wide range of courses offered by various Colleges and Schools at Arizona State University. With intuitive endpoints and comprehensive filters, users can easily navigate through different academic programs, view course details, and access essential information, empowering them to make informed decisions about their educational journey at ASU.",
    "contact": {
      "email": "customerservice@asu.edu"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myasuplat-dpl.asu.edu"
    }
  ],
  "tags": [
    {
      "name": "Courses",
      "description": "Operations related to courses"
    },
    {
      "name": "Class",
      "description": "Operations related to classes"
    },
    {
      "name": "Codeset",
      "description": "Operations related to codeset"
    }
  ],
  "paths": {
    "/api/course/{strm}/{courseId}/{courseOfferNumber}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course details by CourseID, term and offer number",
        "description": "Returns details of a specific course for a given term, courseId , courseOfferingNumber.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "equivalentCourses"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string",
              "pattern": "^\\d{3}[147][A-Z]$"
            },
            "example": "2247"
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "description": "The course ID.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "104171"
          },
          {
            "name": "courseOfferNumber",
            "in": "path",
            "required": true,
            "description": "The course offer number.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 2
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/class/{strm}/subject/{subject}/{catalogNumber}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get class details by term, subject, and catalog number",
        "description": "Returns details of classes for a given term, subject, and catalog number.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like instructor details.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "instructor"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{3}[147][A-Z]$"
            },
            "example": 2247
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject of the course.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 10
            },
            "example": "CSE"
          },
          {
            "name": "catalogNumber",
            "in": "path",
            "required": true,
            "description": "The catalog number of the course.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Class not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for class not found.",
                      "example": "Class not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/course/{strm}/{courseId}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course details by CourseID and term",
        "description": "Returns details of a specific course for a given term and courseId.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "equivalentCourses"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{3}[147][A-Z]$"
            },
            "example": 2247
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "description": "The course ID.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": 104171
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/course/{strm}/subject/{subject}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get courses by subject and catalog number range",
        "description": "Returns courses for a subject within a specified catalog number range.",
        "parameters": [
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{3}[147][A-Z]$"
            },
            "example": 2247
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject code.",
            "schema": {
              "type": "string"
            },
            "example": "CSE"
          },
          {
            "name": "catalogNumberStart",
            "in": "query",
            "description": "Catalog number start (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            },
            "example": 100
          },
          {
            "name": "catalogNumberEnd",
            "in": "query",
            "description": "Catalog number end (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            },
            "example": 200
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "equivalentCourses"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Courses not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for courses not found.",
                      "example": "Courses not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/course/{strm}/subject/{subject}/{catalogNumber}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course details by CourseID, term, subject, and catalog number",
        "description": "Returns details of a specific course for a given term, subject, and catalog number.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "equivalentCourses"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{3}[147][A-Z]$"
            },
            "example": 2247
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject of the course.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "CSE"
          },
          {
            "name": "cataogNumber",
            "in": "path",
            "required": true,
            "description": "The catalog number of the course.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/course/{strm}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course details by term and optional filters (No pagination implemented)",
        "description": "Returns details of all courses for a given term and optional filters like courseId, ownedByCollege, ownedByDepartment, include equivalentCourses.",
        "parameters": [
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer"
            },
            "example": 2247
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "The course ID.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": 104171
          },
          {
            "name": "ownedByCollege",
            "in": "query",
            "description": "The academic organization code of the college.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 10
            },
            "example": "CES"
          },
          {
            "name": "ownedByDepartment",
            "in": "query",
            "description": "The academic organization code of the department.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "CSE"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "equivalentCourses"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/class/{strm}/{classNumber}": {
      "get": {
        "tags": ["Class"],
        "summary": "Get class details by term and class number",
        "description": "Returns details of a specific course for a given term, class number.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like instructor.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "instructor"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string",
              "pattern": "^\\d{3}[147]"
            },
            "example": "2247"
          },

          {
            "name": "classNumber",
            "in": "path",
            "required": true,
            "description": "The class number.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "63151"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/class/{strm}?classNumber={classNumber}": {
      "get": {
        "tags": ["Class"],
        "summary": "Get class details by term and class number",
        "description": "Returns details of a specific course for a given term, class number.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like instructor.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "instructor"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string"
            },
            "example": "2247"
          },

          {
            "name": "classNumber",
            "in": "path",
            "required": true,
            "description": "The class number.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "63151"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/class?classKey={strm1}:{classNumber1}&classKey={strm2}:{classNumber2}": {
      "get": {
        "tags": ["Class"],
        "summary": "Get class details by terms and class numbers",
        "description": "Returns details of a specific course for a given terms, class numbers.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like instructor.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "instructor"
          },
          {
            "name": "strm1",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string"
            },
            "example": "2247"
          },

          {
            "name": "classNumber1",
            "in": "path",
            "required": true,
            "description": "The class number.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "63151"
          },
          {
            "name": "strm2",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string"
            },
            "example": "2247"
          },

          {
            "name": "classNumber2",
            "in": "path",
            "required": true,
            "description": "The class number.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "6432"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/class/{strm}/subject/{subject}?catalogNumberStart={catalogNumberStartInclusive}&catalogNumberEnd={catalogNumberEndInclusive}": {
      "get": {
        "tags": ["Class"],
        "summary": "Get class details by subject,terms,catalogNumber ",
        "description": "Returns details of a specific course for a given terms,subject, catalogNumber.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like instructor.",
            "schema": {
              "type": "string",
              "enum": ["equivalentCourses", "instructor"]
            },
            "example": "instructor"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code in the format YYYTS, where YYY is the year (e.g., 224 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.).",
            "schema": {
              "type": "string"
            },
            "example": "2247"
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject code.",
            "schema": {
              "type": "string"
            },
            "example": "CSE"
          },
          {
            "name": "catalogNumberStartInclusive",
            "in": "path",
            "required": true,
            "description": "Catalog number start (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "100"
          },

          {
            "name": "catalogNumberEndInclusive",
            "in": "path",
            "required": true,
            "description": "Catalog number start (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            },
            "example": "200"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found.",
                      "example": "Course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/campuses": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Campus Codes",
        "description": "Retrieve a list of campus codes along with their descriptions and location codes.",

        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Codeset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for codeset not found.",
                      "example": "Codeset not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/credit-by-exam": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Credit by Exam Equivalencies",
        "description": "Retrieve a list of credit by exam equivalencies along with test details and course credits.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional data such as equivalencies.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["equivalencies"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Credit by exam not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for credit by exam not found.",
                      "example": "Credit by exam not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/credit-by-exam/{testCode}": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Credit by Exam Equivalencies for a Specific Test",
        "description": "Retrieve credit by exam equivalencies for a specific test along with test details and course credits.",
        "parameters": [
          {
            "name": "testCode",
            "in": "path",
            "description": "The code of the test for which to retrieve equivalencies.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AP"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include additional data such as equivalencies.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["equivalencies"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Credit by exam not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for credit by exam not found.",
                      "example": "Credit by exam not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/credit-by-exam/{testCode}/{testComponentCode}": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Credit by Exam Equivalencies for a Test Component",
        "description": "Retrieve credit by exam equivalencies for a specific test component.",
        "parameters": [
          {
            "name": "testCode",
            "in": "path",
            "description": "Code for the test ",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AP"
          },

          {
            "name": "testComponentCode",
            "in": "path",
            "description": "Code for the test component",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AH"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Credit by exam component not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for credit by exam component not found.",
                      "example": "Credit by exam component not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/credit-by-exam/{testCode}/{testComponentCode}/{testDate}": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Credit by Exam Details",
        "description": "Retrieve credit by exam details for a specific test code, test component code, and test date.",
        "parameters": [
          {
            "name": "testCode",
            "in": "path",
            "description": "The code for the test.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AP"
          },
          {
            "name": "testComponentCode",
            "in": "path",
            "description": "The code for the test component.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AH"
          },
          {
            "name": "testDate",
            "in": "path",
            "description": "The date of the test in yyyy-mm-dd format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2000-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Credit by exam detail not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for credit by exam detail not found.",
                      "example": "Credit by exam detail not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/credit-by-exam/{testCode}/{testComponentCode}/{testDate}/{testScore}": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get Credit by Exam Equivalencies by Test Code, Test Component Code, Test Date, and Test Score",
        "description": "Retrieve credit by exam equivalencies based on specific test parameters.",
        "parameters": [
          {
            "name": "testCode",
            "in": "path",
            "description": "The code of the test.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AP"
          },
          {
            "name": "testComponentCode",
            "in": "path",
            "description": "The code of the test component.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "example": "AH"
          },
          {
            "name": "testDate",
            "in": "path",
            "description": "The date of the test in yyyy-mm-dd format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2000-12-31"
          },
          {
            "name": "testScore",
            "in": "path",
            "description": "The score of the test.",
            "required": true,
            "schema": {
              "type": "number",
              "maxLength": 1
            },
            "example": "4"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "404": {
            "description": "Credit by exam not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for credit by exam not found.",
                      "example": "Credit by exam not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/codeset/colleges": {
      "get": {
        "tags": ["Codeset"],
        "summary": "Get College Information",
        "description": "Retrieve information about colleges including their descriptions, URLs, and current status.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional data such as non-current colleges, non-credit colleges, and full descriptions.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["nonCurrent", "nonCredit", "fullDescription"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Class"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Colleges not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for colleges not found.",
                      "example": "Colleges not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StrmParam": {
        "type": "string",
        "pattern": "^\\d{4}[147][A-Z]$",
        "description": "The term code in the format YYYYT, where YYYY is the year (e.g., 2024 for the year 2024), T is the semester code (1 for spring, 4 for summer, 7 for fall), and S is the session code (A, B, C, etc.)."
      },
      "Course": {
        "type": "object",
        "properties": {
          "strm": {
            "type": "string",
            "description": "The term code.",
            "example": "2247"
          },
          "courseId": {
            "type": "string",
            "description": "The course ID.",
            "example": "104171"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response.",
            "example": 1631533200
          },
          "courseOfferNumber": {
            "type": "string",
            "description": "The course offer number.",
            "example": "1"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the course.",
            "example": "CSE"
          },
          "catalogNumber": {
            "type": "integer",
            "description": "The catalog number of the course.",
            "example": 100
          },
          "primaryOwningDepartmentAcadOrg": {
            "type": "string",
            "description": "The primary owning department academic organization.",
            "example": "CSE"
          },
          "primaryOwningParentCollegeAcadOrg": {
            "type": "string",
            "description": "The primary owning parent college academic organization.",
            "example": "CES"
          },
          "splitOwners": {
            "type": "string",
            "description": "Split owners information.",
            "example": "CSE",
            "nullable": true
          },
          "primaryOwningDepartmentDescription": {
            "type": "string",
            "description": "Description of the primary owning department.",
            "example": "Computer Science and Engineering Program"
          },
          "primaryOwningParentCollegeDescription": {
            "type": "string",
            "description": "Description of the primary owning parent college.",
            "example": "Ira A. Fulton Schools of Engineering"
          },
          "catalogPrint": {
            "type": "boolean",
            "description": "Indicates if the course is printable in the catalog.",
            "example": true
          },
          "acadCareerCode": {
            "type": "string",
            "description": "Academic career code.",
            "example": "UGRD"
          },
          "description": {
            "type": "string",
            "description": "Short description of the course.",
            "example": "Principles of Programming with C++"
          },
          "fullDescription": {
            "type": "string",
            "description": "Full description of the course.",
            "example": "Principles of problem solving using C++, algorithm design, structured programming, fundamental algorithms and techniques, and computer systems concepts. Social and ethical responsibility."
          },
          "approvedUnitsMinimum": {
            "type": "integer",
            "description": "Minimum approved units for the course.",
            "format": "int32",
            "example": 3
          },
          "approvedUnitsMaximum": {
            "type": "number",
            "description": "Maximum approved units for the course.",
            "example": 3
          },
          "defaultUnitsMinimum": {
            "type": "number",
            "description": "Minimum default units for the course.",
            "example": 3
          },
          "defaultUnitsMaximum": {
            "type": "number",
            "description": "Maximum default units for the course.",
            "example": 3
          },
          "academicProgressUnits": {
            "type": "number",
            "description": "Academic progress units for the course.",
            "example": 3
          },
          "financialAidProgressUnits": {
            "type": "number",
            "description": "Financial aid progress units for the course.",
            "example": 3
          },
          "courseRepeatable": {
            "type": "boolean",
            "description": "Indicates if the course is repeatable.",
            "example": false
          },
          "totalCompletionsAllowed": {
            "type": "integer",
            "description": "Total completions allowed for the course.",
            "example": 1
          },
          "totalUnitsAllowed": {
            "type": "number",
            "description": "Total units allowed for the course.",
            "example": 3
          },
          "allowMultipleEnrollmentsInTerm": {
            "type": "boolean",
            "description": "Indicates if multiple enrollments are allowed in a term.",
            "example": false
          },
          "requirementDesignationCode": {
            "type": "string",
            "description": "Requirement designation code.",
            "example": "GE48"
          },
          "requirementDesignationDescription": {
            "type": "string",
            "description": "Requirement designation description.",
            "example": "QTRS OR CS"
          },
          "requirementGroupCode": {
            "type": "number",
            "description": "Requirement group code.",
            "example": 1,
            "nullable": true
          },
          "requirementGroupDescription": {
            "type": "string",
            "description": "Requirement group description.",
            "example": "Group 1",
            "nullable": true
          },
          "greatestTermOffered": {
            "type": "string",
            "description": "Greatest term in which the course is offered.",
            "example": "2251"
          },
          "equivalentCourseGroupId": {
            "type": "number",
            "description": "Equivalent course group ID.",
            "example": 1,
            "nullable": true
          },
          "gradingBasisCode": {
            "type": "string",
            "description": "Grading basis code.",
            "example": "OPT"
          },
          "gradingBasisDescription": {
            "type": "string",
            "description": "Grading basis description.",
            "example": "Student Option"
          },
          "topics": {
            "type": "array",
            "description": "Topics information.",
            "items": {
              "type": "object",
              "properties": {
                "totalCompletionsAllowed": {
                  "type": "integer",
                  "description": "Total completions allowed for the topic.",
                  "example": 1
                },
                "description": {
                  "type": "string",
                  "description": "topic description",
                  "example": "Introduction to Programming I"
                },
                "totalUnitsAllowed": {
                  "type": "integer",
                  "description": "Total units allowed for the topic.",
                  "example": 3
                },
                "topicLinkId": {
                  "type": "integer",
                  "description": "link id for the topic",
                  "example": 109586
                },
                "courseRepeatable": {
                  "type": "boolean",
                  "description": "Indicates if the topic is repeatable.",
                  "example": false
                }
              }
            },

            "nullable": true
          },
          "components": {
            "type": "array",
            "description": "Components of the course.",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Component code.",
                  "example": "LEC"
                },
                "description": {
                  "type": "string",
                  "description": "Component description.",
                  "example": "Lecture"
                },
                "graded": {
                  "type": "boolean",
                  "description": "Indicates if the component is graded.",
                  "example": true
                },
                "optional": {
                  "type": "boolean",
                  "description": "Indicates if the component is optional.",
                  "example": false
                },
                "primary": {
                  "type": "boolean",
                  "description": "Indicates if the component is primary.",
                  "example": true
                }
              }
            }
          },
          "equivalentCourses": {
            "type": "array",
            "description": "Equivalent courses information.",
            "items": {
              "type": "object",
              "properties": {
                "strm": {
                  "type": "string",
                  "description": "The term code.",
                  "example": "2247"
                },
                "courseId": {
                  "type": "string",
                  "description": "The course ID.",
                  "example": "104171"
                },
                "courseOfferNumber": {
                  "type": "string",
                  "description": "The course offer number.",
                  "example": "1"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject of the course.",
                  "example": "CSE"
                },
                "catalogNumber": {
                  "type": "integer",
                  "description": "The catalog number of the course.",
                  "example": 100
                },
                "description": {
                  "type": "string",
                  "description": "Description of the course.",
                  "example": "Principles of Programming with C++"
                }
              }
            }
          }
        }
      },
      "Class": {
        "type": "object",
        "properties": {
          "strm": {
            "type": "string",
            "description": "The term code.",
            "example": "2247"
          },
          "classNumber": {
            "type": "string",
            "description": "The class number.",
            "example": "63151"
          },
          "courseId": {
            "type": "string",
            "description": "The course ID.",
            "example": "104171"
          },
          "courseOfferNumber": {
            "type": "string",
            "description": "The course offer number.",
            "example": "1"
          },
          "sessionCode": {
            "type": "string",
            "description": "The session code.",
            "example": "A"
          },
          "classSection": {
            "type": "string",
            "description": "The class section.",
            "example": "2001"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the course.",
            "example": "CSE"
          },
          "catalogNumber": {
            "type": "string",
            "description": "The catalog number of the course.",
            "example": "100"
          },
          "schedulePrint": {
            "type": "boolean",
            "description": "Indicates if the schedule is printable.",
            "example": true
          },
          "description": {
            "type": "string",
            "description": "Description of the class.",
            "example": "Prin of Programming with C++"
          },
          "classStatusCode": {
            "type": "string",
            "description": "The class status code.",
            "example": "A"
          },
          "classStatusDescription": {
            "type": "string",
            "description": "Description of the class status.",
            "example": "Active"
          },
          "startDate": {
            "type": "integer",
            "description": "Start date of the class.",
            "example": 1724310000000
          },
          "endDate": {
            "type": "integer",
            "description": "End date of the class.",
            "example": 1728630000000
          },
          "locationCode": {
            "type": "string",
            "description": "The location code.",
            "example": "ASUONLINE"
          },
          "locationDescription": {
            "type": "string",
            "description": "Description of the location.",
            "example": "ASU Online"
          },
          "campusCode": {
            "type": "string",
            "description": "The campus code.",
            "example": "TEMPE"
          },
          "courseComponent": {
            "type": "string",
            "description": "The course component code.",
            "example": "LEC"
          },
          "courseComponentDescription": {
            "type": "string",
            "description": "Description of the course component.",
            "example": "Lecture"
          },
          "gradedComponent": {
            "type": "boolean",
            "description": "Indicates if the component is graded.",
            "example": true
          },
          "associatedClass": {
            "type": "integer",
            "description": "Associated class information.",
            "example": 2001
          },
          "instructorEdit": {
            "type": "string",
            "description": "Instructor edit status.",
            "example": "N"
          },
          "courseTopicTitle": {
            "type": "string",
            "description": "Title of the course topic.",
            "example": null
          },
          "promodShell": {
            "type": "boolean",
            "description": "Indicates if it's a promod shell.",
            "example": false
          },
          "offeredByDepartmentAcadOrgCode": {
            "type": "string",
            "description": "Department academic organization code.",
            "example": "CCOMPENG"
          },
          "offeredByCollegeAcadOrgCode": {
            "type": "string",
            "description": "College academic organization code.",
            "example": "CES"
          },
          "instructionModeCode": {
            "type": "string",
            "description": "Instruction mode code.",
            "example": "OL"
          },
          "combinedSectionsId": {
            "type": "integer",
            "description": "Combined sections ID.",
            "example": null
          },
          "displayTitle": {
            "type": "string",
            "description": "Display title of the class.",
            "example": "Prin of Programming with C++"
          },
          "enrollmentCapacity": {
            "type": "integer",
            "description": "Enrollment capacity of the class.",
            "example": 200
          },
          "finalGradeRosterPosted": {
            "type": "boolean",
            "description": "Indicates if the final grade roster is posted.",
            "example": false
          },
          "classNotes": {
            "type": "array",
            "description": "Class notes.",
            "items": {
              "type": "string"
            },
            "example": ["Class notes 1", "Class notes 2"]
          },
          "meetings": {
            "type": "array",
            "description": "Meetings information.",
            "items": {
              "type": "object",
              "properties": {
                "meetingNumber": {
                  "type": "integer",
                  "description": "Meeting number.",
                  "example": 1
                },
                "instructors": {
                  "type": "array",
                  "description": "Instructors information.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "schedulePrint": {
                        "type": "boolean",
                        "description": "Indicates if the schedule is printable.",
                        "example": true
                      },
                      "instructorRole": {
                        "type": "string",
                        "description": "Instructor's role.",
                        "example": "PI"
                      },
                      "assignSequence": {
                        "type": "integer",
                        "description": "Assignment sequence.",
                        "example": 1
                      },
                      "firstName": {
                        "type": "string",
                        "description": "Instructor's first name.",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Instructor's last name.",
                        "example": "Doe"
                      },
                      "iSearchUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Instructor's search URL.",
                        "example": "https://webapp4.asu.edu/directory/person/1234567890"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "integer",
                  "description": "Start date of the meeting.",
                  "example": 1729062000000
                },
                "endDate": {
                  "type": "integer",
                  "description": "End date of the meeting.",
                  "example": 1733468400000
                },
                "startTime": {
                  "type": "integer",
                  "description": "Start time of the meeting.",
                  "example": 25200000
                },
                "endTime": {
                  "type": "integer",
                  "description": "End time of the meeting.",
                  "example": 28800000
                },
                "meetDays": {
                  "type": "array",
                  "description": "Meeting days.",
                  "items": {
                    "type": "string"
                  },
                  "example": ["M", "W", "F"]
                },
                "facilityId": {
                  "type": "string",
                  "description": "Facility ID.",
                  "example": "CDN60"
                },
                "facilityLocationCode": {
                  "type": "string",
                  "description": "Facility location code.",
                  "example": "TEMPE"
                },
                "facilityRoom": {
                  "type": "string",
                  "description": "Facility room.",
                  "example": "60"
                },
                "facilityDescription": {
                  "type": "string",
                  "description": "Facility description.",
                  "example": "Clg Of Dsgn North 60 (Tempe)"
                },
                "buildingCode": {
                  "type": "string",
                  "description": "Building code.",
                  "example": "CDN"
                },
                "buildingDescription": {
                  "type": "string",
                  "description": "Building description.",
                  "example": "Design North"
                },
                "buildingCountry": {
                  "type": "string",
                  "description": "Building country.",
                  "example": "USA"
                },
                "buildingAddress1": {
                  "type": "string",
                  "description": "Building address line 1.",
                  "example": ""
                },
                "buildingAddress2": {
                  "type": "string",
                  "description": "Building address line 2.",
                  "example": ""
                },
                "buildingAddress3": {
                  "type": "string",
                  "description": "Building address line 3.",
                  "example": ""
                },
                "buildingAddress4": {
                  "type": "string",
                  "description": "Building address line 4.",
                  "example": ""
                },
                "buildingCity": {
                  "type": "string",
                  "description": "Building city.",
                  "example": ""
                },
                "buildingState": {
                  "type": "string",
                  "description": "Building state.",
                  "example": ""
                },
                "buildingPostal": {
                  "type": "string",
                  "description": "Building postal code.",
                  "example": ""
                },
                "buildingCampus": {
                  "type": "string",
                  "description": "Building campus.",
                  "example": "TEMPE"
                }
              }
            }
          }
        }
      }
    }
  }
}
